@import '../../../../styles/variables.scss';

.orderSheet {
  color: #555555;
  font-size: 14px;

  .tableRow {
    height: 60px;
    border-bottom: 1px solid $lightGrey;
    vertical-align: inherit;

    .tableBody {
      padding: 10px;
      vertical-align: middle;
      text-align: center;

      &.image {
        padding: 16px 0;

        .imageContainer {
          display: inline;

          .goodsImage {
            width: 60px;
            height: 45px;
            object-fit: cover;
          }
        }
      }
    }
  }
}
