@import '../../styles/variables.scss';

.login {
  @include flexCenter(column, center);
  height: 100%;

  .loginTitle {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .loginBox {
    @include flexCenter(column, center);
    width: 420px;
    padding-top: 70px;
    border-top: 1px solid $veryDarkGrey;

    .loginForm {
      @include flexCenter(column, space-between);
      width: 320px;
    }

    .findBtn {
      font-size: 12px;
      margin: 22px 0 30px 0;
      color: $grey;
      cursor: pointer;

      .findPw {
        &::before {
          content: '|';
          padding: 0 12px;
        }
      }
    }

    .btnWrap {
      width: 320px;
      height: 104px;
      @include flexCenter(column, space-between);

      .loginBtn {
        width: 320px;
        height: 48px;
        font-size: 14px;
        border: 1px solid $black;
        background-color: $black;
        color: $white;
      }
      .loginBtn {
        &:hover {
          font-size: 14px;
          transition: scale cubic-bezier(0.175, 0.885, 0.32, 1.275);
          background-color: $white;
          color: $black;
          cursor: pointer;
        }
      }

      .joinBtn {
        width: 320px;
        height: 48px;
        font-size: 14px;
        border: 1px solid $grey;
        color: $veryDarkGrey;
      }
      .joinBtn {
        &:hover {
          font-size: 14px;
          transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          background-color: $grey;
          color: $white;
          cursor: pointer;
        }
      }
    }
  }
}
