@import '../../../styles/variables.scss';
@keyframes hoverAnimation {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.product {
  position: relative;
  width: 280px;
  padding: 20px 20px 30px 20px;
  margin: 20px 10px 0 10px;

  .productContainer {
    @include flexCenter(column, center);
    width: 100%;

    .productImageWrapper {
      width: 240px;
      height: 215px;

      .productImage {
        width: 240px;
        height: 215px;
      }
    }

    .productName {
      max-height: 40 px;
      padding: 0 10 px;
      margin-top: 20px;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      color: $black;
    }

    .productPrice {
      max-height: 40px;
      padding: 0 10px;
      margin: 5px 0 70px;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      color: $black;
    }

    .productButtonContainer {
      @include flexCenter(row, center);
      align-items: flex-end;
      height: 0;
      margin-bottom: 30px;
      opacity: 0;
      transition: all 0.6s ease;

      .productBuyButton,
      .productLikeButton,
      .productCartButton {
        padding: 10px;
        border: 1px solid $black;
        border-radius: 0%;
        cursor: pointer;
      }

      .productBuyButton {
        min-width: 114px;
        height: 40px;
        margin-right: 5px;
      }

      .productLikeButton,
      .productCartButton {
        width: 40px;
        height: 40px;
      }
    }
  }

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: rgb(250, 250, 250);
    content: '';
    transition: all 0.7s ease;
    z-index: -1;
  }

  &:hover {
    &::after {
      height: 100%;
    }

    & > .productContainer > .productButtonContainer {
      opacity: 1;
    }
  }
}
