@import '../../styles/variables.scss';

.button {
  width: 100%;
  margin: 2px;
  padding: 10px 30px;
  border: 1px solid $black;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
  color: $black;

  &.point {
    &::after {
      content: '';
      width: 0%;
      height: 100%;
      top: 0;
      position: absolute;
      left: 0;
      transition: all 0.6s;
      background-color: $pointMint;
    }
    &:hover {
      color: $white;
      border: 1px solid $pointMint;

      &::after {
        width: 100%;
      }
    }
  }
  &::after {
    content: '';
    width: 0%;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    transition: all 0.6s;
    background-color: $black;
  }

  &:hover {
    color: $white;
    border: 1px solid $black;

    &::after {
      width: 100%;
    }
  }
  .btnTitle {
    position: relative;
    z-index: 99;
  }
}
