@import '../../styles/variables.scss';

.order {
  @include flexCenter(column, flex-start);
  height: 100%;
  padding: 0 60px;

  .pageTitleArea {
    width: 100%;
    padding: 55px 0 57px 0;
    position: relative;

    .progressNav {
      @include flexCenter(row, center);
      position: absolute;
      top: 60px;
      right: 60px;
      font-size: 14px;
      color: $grey;
      border-bottom: 1px solid $lightGrey;

      .stepOne {
        margin-right: 20px;
        padding-bottom: 7px;
        position: absolute;
        top: 0;
        right: 60px;
      }
      .stepTwo {
        margin-right: 20px;
        padding-bottom: 7px;
        border-bottom: 1px solid $black;
        position: absolute;
        top: 0;
        right: 30px;
      }
      .stepThree {
        padding-bottom: 7px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .pageTitle {
      .orderTitle {
        font-size: 48px;
        margin: 110px 0 0 0;
        text-align: center;
      }
    }
  }

  .pageContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .contentList {
      width: 660px;
      height: auto;
      background-color: rgb(160, 200, 201);
    }
    .orderTotal {
      width: 280px;
      height: auto;
      margin-left: 40px;
      border: 1px solid $lightGrey;
      border-top: 1px solid $black;

      .sec {
        padding: 5px 28px;
        border-bottom: 1px solid $lightGrey;

        .pdtPrice {
          @include flexCenter(row, space-between);
          padding: 17px 0 16px;
          font-size: 14px;
        }
        .payPrice {
          @include flexCenter(row, space-between);
          padding: 17px 0 21px;
          font-size: 14px;

          .payPriceNum {
            font-size: 20px;
            font-weight: bold;
          }
        }

        .selectBox {
          @include flexCenter(row, space-between);
          padding: 17px 0 16px;
          font-size: 14px;

          .selectedValue {
            width: 220px;
            height: 38px;
            border: 1px solid $lightGrey;
            text-align: left;
          }

          .valueList {
            display: none;
          }
        }

        .mustCheck {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          padding: 15px 0 25px;

          .label {
            padding: 5px 0 0 15px;
            font-size: 13px;
            color: $grey;
          }
        }
      }

      .secBtn {
        padding: 20px 28px 30px;
        background-color: #f9f9f9;

        .btn {
          width: 222px;
          height: 48px;
          padding: 10px 20px;
          border: none;
          background-color: rgb(0, 0, 0);
          color: $white;
          cursor: pointer;
        }
      }
    }
  }
}
