@import '../../../styles/variables.scss';

.detailWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 15rem;

  .detailMenu {
    display: flex;
    color: $grey;
    font-size: 18px;

    li {
      margin: 10px;
    }

    :nth-child(2) {
      color: $black;
      border-bottom: 1px solid $black;
    }
  }

  .reviewInputBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 0px;

    .reviewInput {
      width: 100%;
      height: 100px;
      padding: 15px;
      resize: none;
      border: 1px solid $lightGrey;
      margin-bottom: 10px;
    }

    .submitBtn {
      border: 1px solid $black;
      padding: 10px;
      background-color: $black;
      color: $white;
      font-weight: 600;
    }
  }

  .reviewsWrap {
    width: 100%;
    .reviewTitle {
      padding-bottom: 10px;
      font-size: 20px;
      border-bottom: 1px solid $lightGrey;
    }
  }
}
