@import '../../../styles/variables.scss';

.sortedProducts {
  @include flexCenter(column, center);
  padding: 0 60px;

  .maskOff {
    display: none;
  }

  .mask {
    width: 110%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.7);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    left: -90px;
  }

  .sortedProductsHead {
    @include flexCenter(row, space-between);
    width: 100%;
    padding: 50px 0px;

    .sortedProductsTitle {
      color: $black;
      font-size: 22px;
      font-weight: 500;
    }
  }

  .sortedProductsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
