@import '../../../styles/variables.scss';

.sortedProducts {
  @include flexCenter(column, center);
  padding: 0 60px;

  .sortedProductsHead {
    @include flexCenter(row, space-between);
    width: 100%;
    padding: 50px 0px;

    .sortedProductsTitle {
      color: $black;
      font-size: 22px;
      font-weight: 500;
    }
  }

  .sortedProductsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
