@import '../../styles/variables.scss';

.Btn {
  margin: 100px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  border: 1px solid $veryLightGrey;
}
.Btn:hover {
  background-color: $pointMint;
}
.Btn:focus {
  color: $white;
  background-color: $pointBrown;
}
