@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

html,
#root,
body {
  height: 100%;
}

button {
  background-color: transparent;
}
