@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

html,
#root {
  height: 100%;
}

body {
  height: 100%;
  padding-left: 90px;
}

button {
  background-color: transparent;
}
