@import '../../styles/variables.scss';

@keyframes fadeIn {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.slideAndInfoWrap {
  display: flex;
  align-items: center;
  min-height: 300px;

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide {
    position: relative;
    background-color: white;
    flex-basis: 70%;

    .imgSlide {
      width: 100%;
      height: 100%;
      animation: 0.7s ease-in-out fadeIn;
      // padding: 5rem 0;
    }
  }

  .thumbnailWrap {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(0%, -50%);
  }

  .productInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
    padding-top: 30px;
  }
}
