@import '../../styles/variables.scss';

.footer {
  background-color: rgb(240, 240, 240);
  padding: 0 60px;
  z-index: 99;

  .footerContentWrapper {
    @include flexCenter(row, space-between);
    padding: 30px 0;

    .footerInfoContainer {
      font-size: 14px;
      color: $lightGrey;
    }

    .footerIconContainer {
      .socialButton {
        border: none;
        color: $lightGrey;
        font-size: 20px;
      }
    }
  }
}
