@import '../../styles/variables.scss';

.signupWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  margin: 0 auto;
  padding-left: 90px;
  padding-top: 20px;

  ul {
    display: flex;
    justify-content: flex-end;

    li {
      margin-left: 20px;
    }
  }
  .signupTitle {
    font-size: 36px;
    padding: 50px 0px;
    text-align: center;
  }

  .joinTerms {
    margin-bottom: 20px;
    h3 {
      font-size: 14px;
      font-weight: 600;
      padding: 15px 0px;
    }

    .termsBox {
      background-color: #f7f7f7;
      color: $grey;
      padding: 20px 0px;
      margin: 10px 0px;

      p {
        text-align: center;
        line-height: 20px;
      }
    }

    .termsAllCheck {
      border: 1px solid $lightGrey;
      padding: 8px 0px;
      text-align: center;
      color: $grey;
    }

    .termsCheckWrap {
      padding: 20px 0px;
      ul {
        display: flex;
        flex-direction: column;

        li {
          display: flex;
          align-items: center;
          margin: 0px 0px 10px 0px;
          font-weight: 600;
        }
      }

      .checkTip {
        font-size: 10px;
        color: $grey;
      }
    }
  }

  .formWrap {
    display: flex;
    flex-direction: column;

    input {
      padding: 8px 8px;
      border: 1px solid $grey;
      border-radius: 0px;
    }

    li {
      margin: 0px 0px 10px 0px;
      width: 100%;

      &:nth-child(2) {
        display: flex;
      }
    }

    h3 {
      font-size: 14px;
      font-weight: 600;
      padding: 15px 0px;
    }

    .email {
      flex-basis: 70%;

      .id {
        width: 45%;
      }

      .domain {
        width: 49%;
      }
    }

    .emailValidBtn {
      flex-basis: 30%;
      border: 1px solid $black;
    }

    .password,
    .passwordRe {
      width: 100%;
    }

    .signTip {
      color: $grey;
      font-size: 10px;
    }

    .submitBtn {
      width: 100%;
      outline: none;
      margin-top: 40px;
      border: 1px solid $black;
      font-size: 16px;
      padding: 8px 0px;
      background-color: $black;
      color: white;
      font-weight: 600;
    }
  }
}
