@import '../../../styles/variables.scss';

.productListNav {
  @include flexCenter(row, flex-start);
  align-items: flex-end;
  padding: 55px 60px 0px;
  border-bottom: 1px solid $lightGrey;
  z-index: 100;

  .productListNavHead {
    margin-right: 45px;
    padding-bottom: 20px;
    color: $black;
    font-size: 32px;
    font-weight: 600;
  }

  .productListMenuContainer {
    @include flexCenter(row);

    .productListMenu {
      position: relative;
      margin-right: 25px;

      .menuButton {
        padding-bottom: 20px;
        border: none;
        border-bottom: 2px solid transparent;
        font-size: 14px;
        font-weight: 500;
        color: $grey;
        transition: 0.2s;
      }

      .dropDownList {
        position: absolute;
        top: 43px;
        left: -20px;
        max-height: 0%;
        min-width: 200%;
        overflow: hidden;
        background-color: $white;
        z-index: 88;
        transition: 0.5s ease;

        .dropDownElement {
          padding: 15px 20px;
          font-size: 14px;
          font-weight: 500;
          color: $grey;

          &:hover {
            color: $black;
          }
        }
      }

      &:hover {
        .menuButton {
          color: $black;

          &.menuDropDown {
            border-bottom: 2px solid $black;
          }
        }

        .dropDownList {
          max-height: 100vh;
          border: 0.4px solid $veryLightGrey;
          border-top: none;
        }
      }
    }
  }
}
