@import '../../../../styles/variables.scss';

.imageSlide {
  position: relative;
  width: 100%;

  .slickDotWrapper {
    @include flexCenter;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-bottom: 30px;
  }
}
