@import '../../styles/variables.scss';

@keyframes openSlide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes closeSlide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.sideNav {
  .basicNav {
    @include flexCenter(column, space-between);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 89px;
    padding: 18px 0;
    background-color: #fff;
    border-right: 1px solid $veryLightGrey;
    z-index: 999;
    transition: 0.7s;

    &.toggledNav {
      border-color: transparent;
    }

    .navButton {
      @include flexCenter;
      width: 48px;
      height: 48px;
      border-color: transparent;
      font-size: 32px;
      color: $black;
      cursor: pointer;

      &.signInOut {
        color: $pointMint;
      }
    }

    .dummyElement {
      width: 48px;
      height: 48px;
    }

    .navButtonContainer {
      position: absolute;
      bottom: 16px;
    }
  }

  .extensionNav {
    @include flexCenter(column, space-between);
    position: fixed;
    left: 88px;
    top: 0;
    bottom: 0;
    width: 270px;
    padding: 30px 0;
    background-color: #fff;
    border-right: 1px solid $veryLightGrey;
    opacity: 1;
    z-index: 998;
    transition: all 1s ease-in-out;

    &.toggledNav {
      left: -270px;
      opacity: 0;
    }

    .extensionNavContainer {
      margin-left: -56px;

      .tartLogo {
        margin-bottom: 80px;
        color: $black;
        font-size: 38px;
        font-weight: 900;
      }

      .extensionNavButtonWrapper {
        padding-inline-start: 4px;

        .extensionNavButton {
          margin: 22px 0;
          color: grey;
          font-size: 22px;
          font-weight: 600;
          cursor: pointer;

          &:hover {
            color: black;
          }
        }
      }
    }
  }
  .maskOff {
    display: none;
    animation: closeSlide 0.7s ease-in-out;
  }
  &.maskOn {
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.7);
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    left: -90px;
    animation: openSlide 0.7s ease-in-out;
  }
}
