@import '../../../../styles/variables.scss';

.slickDot {
  margin: 4px;

  .dotButton {
    width: 16px;
    height: 16px;
    background-color: $grey;
    border-color: transparent;
    border-radius: 8px;
    transition: 0.4s;
    cursor: pointer;

    &.clickedDot {
      background-color: $white;
    }
  }
}
